@layer overlay{
  .dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // max-width: 21rem;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    border-radius: var(--radius-100);
    h2{
      margin-block-start: .5rem;
    }
    .btn_collection{
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      margin-block-start: .5rem;
    }
  }

  ::backdrop {
    background-color: rgba(0, 0, 0, .7);
  }
}