@use "./color-palette" as *;

$vars: (
    // typography
    ff:
        (
            sans-serif: #{Rubik,
            "Segoe UI",
            Helvetica,
            Arial,
            sans-serif}
        ),
    fs: (
        200: clamp(0.8784rem, 0.847rem + 0.1568vi, 0.9882rem),
        300: clamp(0.9372rem, 0.9037rem + 0.1674vi, 1.0544rem),
        400: clamp(1rem, 0.9643rem + 0.1786vi, 1.125rem),
        500: clamp(1.067rem, 1.0289rem + 0.1905vi, 1.2004rem),
        600: clamp(1.1385rem, 1.0978rem + 0.2033vi, 1.2808rem),
        700: clamp(1.2148rem, 1.1714rem + 0.2169vi, 1.3666rem),
        800: clamp(1.2962rem, 1.2499rem + 0.2315vi, 1.4582rem),
        900: clamp(1.383rem, 1.3336rem + 0.247vi, 1.5559rem)
    ),
    fw: (
        400: 400,
        600: 600,
        700: 700,
        800: 800
    ),
    body: (
        fw: var(--fw-400),
        fs: var(--fs-400),
        line-height: 1.75,
        letter-spacing: 0.2,
        ff: var(--ff-sans-serif),
        font: var(--body-fw) var(--body-fs) / var(--body-line-height) var(--body-ff)
    ),
    h: (
        1-fs: var(--fs-500),
        2-fs: var(--fs-500),
        3-fs: var(--fs-500),
        1-fw: var(--fw-700),
        2-fw: var(--fw-700),
        3-fw: var(--fw-700),
        line-height: 1.2,
        letter-spacing: 0.031rem,
        ff: var(--ff-sans-serif),
        1-font: var(--h-1-fw) var(--h-1-fs) / var(--h-line-height) var(--h-ff),
        2-font: var(--h-2-fw) var(--h-2-fs) / var(--h-line-height) var(--h-ff),
        3-font: var(--h-3-fw) var(--h-3-fs) / var(--h-line-height) var(--h-ff)
    ),
    size: (
        60: 0.6rem,
        80: 0.8rem,
        90: 0.9rem,
        50: 0.5rem,
        100: 1rem,
        125: 1.25rem,
        150: 1.5rem,
        175: 1.75rem,
        200: 2rem,
        300: 3rem,
        325: 3.25rem
    ),
    gap: (
        100: 1rem,
        125: 1.25rem,
        150: 1.5rem,
        175: 1.75rem,
        main: var(--gap-100, 1rem)
    ),
    transition: (
        1: 0.2s
    ),
    border: (
        main: 1px solid var(--border-clr-color),
        focus: 1px solid var(--border-clr-focus)
    ),
    outline: (
        style: solid,
        site-size: 2px,
        site-style: solid
    ),
    radius: (
        round: 50%,
        100: 0.25rem,
        200: 0.5rem,
        300: 0.75rem,
        400: 1rem,
        main: var(--radius-400)
    ),
    link: (
        text-decoration: none,
        text-decoration-hover: none
    ),

    btn: (
        font: var(--body-ff),
        cursor: pointer,
        transition: var(--transition-1),
        gap: var(--gap-main),
        primary: (
            padding: 0.5rem 1rem,
            text-transform: uppercase,
            border: 0,
            radius: var(--radius-200)
        ),
        counter: (
            padding: 0.5rem 1rem,
            gap: var(--gap-125)
        ),
        reply: (
            padding: 0.5rem 1rem
        ),
        edit: (
            padding: 0.5rem 1rem
        ),
        delete: (
            padding: 0.5rem 1rem
        ),
        module-yes: (
            padding: 0.5rem 1rem
        ),
        module-no: (
            padding: var(--btn-module-yes-padding)
        )
    ),
    icon: (
        size: var(--size-100, 1rem),
        height: var(--size-100, 1rem),
        width: var(--size-100, 1rem)
    ),
    comment: (
        transition: var(--transition-1),
        radius: var(--radius-main, 1rem),
        userAvatar-radius: var(--radius-round),
        userName-fs: var(--fs-300),
        userName-fw: var(--fw-600),
        gap: var(--gap-main),
        padding: 2.2rem,
        max-height: 5rem
    ),
    module: (
        title-fs: var(--fs-500),
        title-fw: var(--fw-600),
        padding: 0.5rem 1rem,
        btn-gap: var(--gap-main)
    ),
    form: (
        radius: var(--radius-main),
        padding: 2rem 2.2rem,
    ),
    input: (
        border: 1px solid var(--input-border),
        border-focus: 1px solid var(--input-focus),
        radius: var(--radius-main),
        max-hight: 4rem,
        min-hight: 10rem,
    ),
    scrollbar: (
        height: 0.72rem,
        width: 0.72rem,
        border-radius: 1000000000rem
    ),
    container: (
        // max-width: 47.625rem
        max-width: 775px
    )
) !default;
