@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-optical-sizing: auto;
    font-weight: 300 900;
    font-style: normal;
    src: local("Rubik");
    src: url("/assets/fonts/Rubik-VariableFont_wght.woff2") format("woff2-variations");
    src: url("/assets/fonts/Rubik-VariableFont_wght.woff2") format("woff2") tech("variations");
    src: url("/assets/fonts/Rubik-VariableFont_wght.woff") format("woff-variations");
    src: url("/assets/fonts/Rubik-VariableFont_wght.woff") format("woff") tech("variations");
}
