@font-face {
    font-family: "Rubik";
    src: local('Rubik');
    src: url("/assets/fonts/Rubik-VariableFont_wght.woff2") format("woff2-variations");
    src: url("/assets/fonts/Rubik-VariableFont_wght.woff2") format("woff2") tech("variations");
    src: url("/assets/fonts/Rubik-VariableFont_wght.woff") format("woff-variations");
    src: url("/assets/fonts/Rubik-VariableFont_wght.woff") format("woff") tech("variations");
    font-display: swap;
    font-weight: 1 1000;
}
